endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_hostname "TutoYoutube"
sv_licenseKey "cfxk_1pBSWhQ8C8yxEYUFGUH3i_gxSF3"
set steam_webApiKey "0BEC802FCC6CC88E7909CEF5A9ED3E32"
sv_maxclients 5
set sv_enforceGameBuild 2372
sets sv_projectName "TutoYouTube"
sets sv_projectDesc "TutoYoutube"
sets locale "root-AQ"
sets tags "default, esx"
sv_scriptHookAllowed 0
set onesync legacy   # Infinity is not recommended for ESX
set mysql_connection_string "server=localhost;uid=root;password=;database=tutoyoutube"
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

#####################
##### FiveM #########
#####################

ensure mapmanager 
ensure chat
start chat-theme-gtao
ensure spawnmanager
ensure fivem       
ensure sessionmanager


#####################
##### Serveur #######
#####################

ensure rconlog
##### MY SQL #### 
ensure mysql-async

#################################################
############# Essential #########################
#################################################

ensure async
ensure essentialmode
ensure esplugin_mysql
ensure es_admin2
ensure es_extended
ensure cron
ensure scriptpnj
ensure jsfour-idcard
ensure esx_dmvschool
ensure vSync

#####################
##### LIBS ##########
#####################

ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list